# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc
.DS_Store
*.pem

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel


## User settings
**/xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
**/build/
**/DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Gcc Patch
**/*.gcno

## obnoxious file that has thumbnails and stuff
.DS_Store

## make debug folder 
**/cmake-build-debug/

## .o files
*.o

## executable file
*.exe
*.bin
*.out

#Cmake
**/CMakeLists.txt
**/.idea
*.venv
.vscode


# misc
.DS_Store
*.pem
