# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/ecommercewebsite/node_modules
frontend/ecommercewebsite/.pnp
frontend/ecommercewebsite/.pnp.*
frontend/ecommercewebsite/.yarn/*
frontend/ecommercewebsite/!.yarn/patches
frontend/ecommercewebsite/!.yarn/plugins
frontend/ecommercewebsite/!.yarn/releases
frontend/ecommercewebsite/!.yarn/versions

# testing
frontend/ecommercewebsite/coverage

# next.js
frontend/ecommercewebsite/.next/
frontend/ecommercewebsite/out/

# production
frontend/ecommercewebsite/build

# misc
.DS_Store
*.pem

# debug
frontend/ecommercewebsite/npm-debug.log*
frontend/ecommercewebsite/yarn-debug.log*
frontend/ecommercewebsite/yarn-error.log*
frontend/ecommercewebsite/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
frontend/ecommercewebsite/*.tsbuildinfo
frontend/ecommercewebsite/next-env.d.ts
